.box {
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  border: solid 3.5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  cursor: pointer;
  background: var(--bs-gray-500);
}

.box-input {
  display: none;
}

.box-input:checked + .box {
  box-shadow: 9px 9px 0px var(--bs-dark);
}
